build/*
Testing/*
.cache/
compile_commands.json

# Visual studio
.vs/
Debug/
Release/
/out/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.psess
*.vspx
*.vsp
*.diagsession
*.hint

# VS CMake
/out/
/CMakeSettings.json
/include/fast_float/fast_float_parser.h
